.entrance {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-image: url(../public/gimmyaibg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  background-color: rgba(60, 60, 60, 0.8);
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 800px;
  margin: 0 auto;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 150px;
  height: 170px;
  margin-bottom: 2rem;
}

.icon-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;
}

.icon-links a {
  font-size: 3rem;
  margin: 0 30px;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.icon-links a:hover {
  color: #5e74d6;
}

.start-button {
  background-color: #667eea;
  color: #fff;
  font-weight: 700;
  border: none;
  padding: 1.5rem 3rem;
  font-size: 2rem;
  cursor: pointer;
  margin-top: 3rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.start-button:hover {
  background-color: #fff;
  color: #667eea;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

/* Media query for small screens */
@media only screen and (max-width: 767px) {
 .logo {
      width: 100px;
      height: 120px;
  }
 .icon-links a {
      font-size: 2rem;
      margin: 0 20px;
  }
 .start-button {
      padding: 1rem 2rem;
      font-size: 1.5rem;
  }
}